# Project: Swing Trading Methods

In [2]:
# project dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests 
from collections import Counter
plt.style.use('fivethirtyeight')

In [3]:
# Definition of the query below: 
# URL >> https://query1.finance.yahoo.com/v8/finance/chart/{$symbol}?range={$range}&interval={$interval}
# symbol >> the stock ticker symbol, e.g. AAPL for Apple
# range >> the desired range of the query, allowed parameters are [1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max]
# interval >> the desired interval of the quote, e.g. every 5 minutes, allowed parameters are [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]


# https://finance.yahoo.com/quote/AAPL/history?period1=1592006400&period2=1592438400&interval=1d&filter=history&frequency=1d

### Creating first test case by initiating the first dataframe

In [57]:
baseURL = "https://query1.finance.yahoo.com/v8/finance/chart/AMZN?range=5d&interval=5m"
req = requests.get(baseURL)
rawJson = req.json()

# raw_dataFrame = pd.DataFrame(req)

indicators= list(rawJson["chart"]["result"][0]) #indicators 

raw_data=rawJson['chart']['result'][0][indicators[2]]['quote'][0] #this is the values we are looking for 

column_name=list(raw_data.keys()) #collumn names we need 

df = pd.DataFrame(columns=column_name)
df[column_name[0]] = raw_data['close']
df[column_name[1]] = raw_data['high']
df[column_name[2]] = raw_data['open']
df[column_name[3]] = raw_data['volume']
df[column_name[4]] = raw_data['low']
print (df)

            open          low        close      high       volume
0    2612.060059  2618.254883  2601.209961  349038.0  2597.000000
1    2610.010010  2613.839600  2612.110107   90096.0  2607.000000
2    2618.929932  2621.476562  2610.889893  124915.0  2610.715088
3    2608.860107  2620.989990  2618.650879   74807.0  2608.330078
4    2609.629883  2613.084961  2608.803955   55057.0  2607.110107
..           ...          ...          ...       ...          ...
346  2648.850830  2649.197998  2644.869873   13900.0  2644.168213
347  2652.772705  2653.429932  2648.905029   35771.0  2647.727051
348  2650.600098  2652.419922  2652.419922   11683.0  2650.239990
349          NaN          NaN          NaN       0.0          NaN
350  2651.745117  2651.745117  2651.745117       0.0  2651.745117

[351 rows x 5 columns]